name: Daily Test Run

on:
  schedule:
    - cron: "4 14 * * *" # once per day (12:00 UTC)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install firebase-admin

      - run: node script.js
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIRESTORE_JSON }}
